In [3]:
import snowflake.connector

# Set up connection parameters
ACCOUNT = 'yw24586.uk-south.azure'
USER = 'TOMMYMCD22'
PASSWORD = 'Snowflake1!'
WAREHOUSE = 'COMPUTE_WH'
DATABASE = 'EXAM'
SCHEMA = 'DBT_TMCDONAGH'

# Create a Snowflake connection object
conn = snowflake.connector.connect(
    account=ACCOUNT,
    user=USER,
    password=PASSWORD,
    warehouse=WAREHOUSE,
    database=DATABASE,
    schema=SCHEMA
)

In [4]:
# Create a cursor object
cursor = conn.cursor()

# Execute a SELECT statement to extract data from a Snowflake table
cursor.execute('SELECT * FROM EXAM_ENCODED')

# Fetch the results into a pandas DataFrame
import pandas as pd
results = cursor.fetchall()
df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

In [5]:
df

,GENDER_MALE,GENDER_FEMALE,RACE_GROUP_A,RACE_GROUP_B,RACE_GROUP_C,RACE_GROUP_D,RACE_GROUP_E,PARENT_EDUCATION_SOME_COLLEGE,PARENT_EDUCATION_ASSOCIATES_DEGREE,PARENT_EDUCATION_HIGH_SCHOOL,PARENT_EDUCATION_SOME_HIGH_SCHOOL,PARENT_EDUCATION_BACHELORS_DEGREE,PARENT_EDUCATION_MASTERS_DEGREE,LUNCH_STANDARD,LUNCH_FREE_REDUCED,TEST_PREP_NONE,TEST_PREP_COMPLETED,MATH_SCORE,READING_SCORE,WRITING_SCORE
0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,72,72,74
1,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,69,90,88
2,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,1,0,90,95,93
3,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,47,57,44
4,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0,0,1,88,99,95
996,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,62,55,55
997,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,59,71,65
998,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,68,78,77
999,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0,77,86,86